.querybuilder .middleColumn {
   background: transparent !important;
}

.querybuilder > label {
   display: none !important;
}

.ViewResultsRetriever h4 {
   margin: 0 0 0 0;
}

.ViewResultsRetriever .ViewsModel.nlevel-1 > h4,
.ViewResultsRetriever .ViewsModel.nlevel-2 > h4 {
   display: none;
}

.ViewResultsRetriever p {
   font-style: italic;
   margin-top: 0;
   text-align: center;
}

/* Make Query Previews render monospaced */
.viewsReadOnlyQuerySummary,
.ViewResultsRetriever input,
.ViewResultsRetriever select {
   font: 11px/1.5 Monaco, Consolas, Courier, monospace;
}

.ViewResultsRetriever label,
.ViewResultsRetriever input
.ViewResultsRetriever select {
   margin: 0 5px 0 0;
   padding: 0;
}

.ViewResultsRetriever input[type="text"] {
   min-width: 75%;
   display: block;
}

.ViewResultsRetriever .inputGrouping {
   display: block;
   margin: 10px 0;
}

.ViewResultsRetriever .rmButton,
.ViewResultsRetriever .addButton {
   color: #666;
   font-weight: bold;
   cursor: pointer;
   background: #FFF;
   display: block;
   padding: 5px;
   border: 1px solid #999;
}

.ViewResultsRetriever .rmButton:hover,
.ViewResultsRetriever .addButton:hover {
   color: #777;
   -moz-box-shadow: inset 0 0 2px #999;
   -webkit-box-shadow: inset 0 0 2px #999;
   -ie-box-shadow: inset 0 0 2px #999;
}

.ViewResultsRetriever .addButton {
   display: inline-block;
   margin-right: 10px;
   margin-top: 10px;
}

.ViewResultsRetriever .rmButton {
   position: absolute;
   top: -1px;
   right: -1px;
}

.ViewResultsRetriever .ViewsModel {
   position: relative;
}

.ViewResultsRetriever .ViewsModel,
.ViewResultsRetriever .objectSet {
   border: 1px solid #999;
   box-shadow: 0 0 5px #CCC;
   -moz-box-shadow: 0 0 5px #CCC;
   -webkit-box-shadow: 0 0 5px #CCC;
   -ie-box-shadow: 0 0 5px #CCC;
   padding: 15px 10px;
   margin: 10px 0;
}

.ViewResultsRetriever > .ViewsModel.CompoundPredicate,
.ViewResultsRetriever .objectSet.Values {
   border: none;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -ie-box-shadow:none;
   padding: 0;
   margin: 0;
}

.ViewResultsRetriever .ViewsModel {
   background: rgba(189, 186, 207, 0.25);
}

.ViewResultsRetriever .objectSet {
   background: rgba(204, 222, 243, 0.35);
}

.ViewResultsRetriever h4 + .ViewsModel {
   margin-top: 5px !important;
}

.ViewResultsRetriever > .CompoundPredicate > h4,
.ViewResultsRetriever .FieldPredicateValue > h4,
.ViewResultsRetriever > .CompoundPredicate > .PredicateConditions {
   display: none;
}

.ViewResultsRetriever .Values {
   padding: 15px 0 0 0;
   margin: 10px 0 0 0;
}

.ViewResultsRetriever > .ViewsModel {
   background: transparent;
}

.ViewResultsRetriever .addButton.PredicateCondition,
.ViewResultsRetriever .addButton.QueryPredicate,
.ViewResultsRetriever .addButton.ViewResultsSorter {
   display: none;
}